@font-face {
font-family: gentium-book-basic
src: url(app/fonts/gentium-book-basic.ttf)
}

.main-head {
background-image: url(app/img/top_background.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
min-height: 770px;
}

.main-head__title {
  margin: bottom;
  columns: 1;
  font-size: 108;

}

.main-content {
  columns: 1;
  font-size: 108;
}
